.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
    z-index: 100;
}

.submit-button {
    top: 27px;
    right: 0;
    width: 8.4em;
}

.center {
    text-align: center;
}

.utility {
    display: inline-grid;
    position: fixed;
    z-index: 100;
    right: 0;
    background: #36465d;
    border-radius: 6px;
    text-align: center;
    border: 1px black solid;
    padding: 3px;
}

.rendered-media {
    height: 100%;
    padding: 0 50px 5% 5px;
    overflow: hidden;
    border-bottom: 1px black solid;
}

.clear {
    clear: both;
}

.title {
    padding-bottom: 4%;
    text-align: center;
}

.menu-button {
    height: 40px;
    margin: 0 auto;
    padding-top: 7px;
    filter: invert(100%);
    opacity: 0.6;
}

.menu-button:hover {
    opacity: .5;
}

.inner-div {
    padding: 73px;
    /* border-radius: 101px; */
}

.outer-div {
    height: 100%;
    min-height: 100vh;
    background: #36465d;
}

.search-bar {
    position: absolute;
    top: 15px;
    width: 63%;
}

.form-control {
    background: #2e3d50;
    color: #aeb3ba;
    border: none;
}

.form-control:focus {
    background: #ffffff;
    color: black;
}

.form-control::selection {
    color: #ffffff;
    background: #001eff;
}

.media-div {
    border-radius: 15px;
    background: #ffffff;
}